@model BTLONKY5.Models.Account
<h1> ĐĂNG NHẬP </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ĐĂNG NHẬP" class="btn btn-primary" />
                <span>Vui lòng @Html.ActionLink("ĐĂNG KÍ","Register","Account") nếu chưa có tài khoản</span>

            </div>

        </form>
    </div>
</div>
