@model BTLONKY5.Models.Account
<h1>ĐĂNG KÝ TÀI KHOẢN </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ĐĂNG KÝ" class="btn btn-primary" />
                Trở lại <a asp-action="Login" asp-controller="Account">ĐĂNG NHẬP </a>

            </div>

        </form>
    </div>
</div>